*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: rgb(173, 216, 230);
    height: 80px;
}

/* flex */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dimension{
    height: 50%;
    width: 70%;
    
}

.color{
    background-color: rgb(218, 165, 32);
}


/* box  */
.smaller-box{
    height: 300px;
}

.box{
    height: 400px;
}

.bigger-box{
    height: 600px;
    
}


/* container */
.first-container {
    background-color: rgb(0, 0, 139);

}

.second-container{

}

.third-container{
    background-color: rgb(211, 211, 211);
}

.fourth-container{

}

.fifth-container{
    background-color: rgb(211, 211, 211);

}

/* footer */
footer{
    background-color: black;
    
}

.bigger-footer{
    height: 400px;
    border-bottom: 2px solid white;
}

.smaller-footer{
    height: 150px;    
}

.green-box{
    background-color: green;
    
}
